/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */
*{
    margin: 0;
    padding: 0;
}
.home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../1.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center
  }
 .second{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../3.jpg);
    height: 180vh;
    background-size: cover;
    background-position: center
  }
  .resume{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../3.jpg);
    height: 180vh;
    background-size: cover;
    background-position: center
    position:relative;
    z-index: 2;
  }
  .bio h1{
    font-size: 50px;
    font-family: "Armata";
    top: 15%;
    right: 65%;
    color:#f53b57;
    position: absolute;
    font-weight: 100;
  }
  .shub h1{
    font-size: 50px;
    position: absolute;
    text-shadow: 1px 1px;
    margin-top: 120px;
    margin-left: 80px;
    color:  #00e6e6;
    font-weight: bolder;
    font-family: "Valera";
  }
  .shub p{
    font-size: 30px;
    font-family: "B612";
    position: absolute;
    margin-top: 15rem;
    margin-left: 3rem;
    color: lightgreen;
    text-align: left;
    font-weight: bold;

  }
.l{
  list-style-type: none;
  float: right;
}
.l li{
  display: inline-block;
  margin-top: 25px;
}
.l li a {
    /* set the text color to blue here */
    font-size: 15px;
    color: white;
    padding: 5px 25px;
    border: 1px solid #fff transparent;
    margin: 10px;
    font-weight: bold;
    font-family: "Roboto";
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }
  .points{
    font-family: "B612";
    font-weight: lighter;
    position: absolute;
    top: 35%;
    right:50%;
    font-weight: 100;
    color: #F97F51;
    font-size: 20px;
  }
  .points li a{
    margin: auto;
    text-decoration: none;
   }
  .l li a:hover {
    /* set the text color to red here */
    background-color:transparent;
    color: #4cd137;
    border-color: blue;
    transition: 0.5s ease;
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }
span{
    color: red;
}
  body {
    /* margin-right: auto; */
    color: black;
    text-align: center;
    font-family: "Armata";
    width: inherit;
  }
  footer {
    position: relative;
    text-align:center;
    margin-bottom:10vh;
    color: black;
}
  h2 {
    /* set the text color of to #075AAB here */
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    color: #075AAB;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .logo img{
    float: left;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .pic img{
    width: 550px;
    height: 650px;
    margin-top: 30px;
    margin-right: 50px;
    position: absolute;
  }
  .main{
    max-width: 1000px;
    margin: auto;

  }
  .title h1{
    color: black;
    font-size: 70px;
    position: absolute;
    text-shadow: 1px 1px;
    top: 30%;
    right: 50%;
    padding: 15px 15px;
    background-color:black;
    color: white;
    border:1px solid #fff transparent ;
    border-color: white;
    font-weight: 50;
    opacity:0.8;
    font-family: "Roboto";
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
.iron{
  margin: 0;
  padding: 0;
  background:#34495e;
}
.certificates{
  width: 700px;
  height: 400px;
  overflow: hidden;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
}
.bar:hover{
  background: white;
  transition: 0.5s linear;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}
.slides{
  width: 400%;
  height: 100%;
  display: flex;
}
.slide{
  width: 25%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1{
  margin-left: -0%;
}

#r2:checked ~ .s1{
  margin-left: -25%;
}

#r3:checked ~ .s1{
  margin-left: -50%;
}

#r4:checked ~ .s1{
  margin-left: -75%;
}
